*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container {
    width: 50%;
    margin: auto;
    margin-top: 150px;
    background-color: black;
    padding: 5px;
}

#display {
    width: 100%;
    font-size: 71px;
    margin-bottom: 10px;
    text-align: right;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
section button {
    width: 24%;
    font-size: 1rem;
    padding: 5px;
}

